$bg_body: #e5e6e8;
$color_text: #060606;


//header
$bg_header: #fff;
$bg_header_channel: #aeb6cb;
$bg_header_channel_hover: #594f8d;
$color_header_channel: #fff;
$color_header: #060606;

// info
$bg_info: #292c33;
$color_info_light: #fff;

// news menu
$bg_news_menu: #e5e6e8;
$bg_news_item: #eeeff1;
$bg_news_item_hover: #fff;
$color_news_item: #060606;
$color_close: #060606;
$color_close_hover: #fb6b5b;

// news
$border_news_item: #d2d5da;
$bg_news_item_hover: #fff;
$color_news_item: #060606;

// news item
$bg_news_item_link: #5dcff3;
$color_news_item_link: #fff;
