html,
body {
  background-color: $bg_body;
  height: 100%;
}

#root {
  height: 100%;
  width: calc(100% - #{$info_width});
  & > div {
    height: 100%;
  }
}

.page {
  overflow: auto;
  .content {
    margin-top: 60px;
  }
}

.index-middle {
  z-index: 1;
}

.index-high {
  z-index: 10;
}
