.header {
  background-color: $bg_header;
  left: 0;
  top: 0;
  position: fixed;
  height: 60px;
  width: calc(100% - #{$info_width});

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
  }

  .channel {
    display: flex;
    align-items: center;
    width: 300px;
    .channel__icon {
      display: block;
      height: 60px;
      width: 60px;
    }
    .channel__title {
      color: $color_header;
      font-size: 20px;
      font-family: $open_sans_semi_bold;
      margin-left: 20px;
    }
  }

  .channel-select {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      @extend %reset-button;
      background-color: $bg_header_channel;
      color: $color_header_channel;
      cursor: pointer;
      font-family: $open_sans_semi_bold;
      outline: none;
      padding: 10px 15px;
      @include transition(all 0.3s);
      &:hover {
        background-color: $bg_header_channel_hover;
      }
    }
  }
}
