.info {
  background-color: $bg_info;
  color: $color_info_light;
  right: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: $info_width;

  .info-button {
    background-color: $bg_info;
    border-bottom: 1px solid lighten($bg_info, 15%);
    margin: 0 auto;
    height: 50px;
    width: 100%;
    button {
      @extend %reset-button;
      color: inherit;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
  }

  .info-content {
    background-color: $bg_info;
    padding: 10px 5px;
    .info-content__item {
      box-sizing: border-box;
      padding: 10px 0;
      text-align: center;
      width: 100%;
    }
    .info-content__item__assets-img {
      margin: 0 auto;
      width: 50px;
    }
    .info-content__item__title {

    }
  }
}
