.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;

  .title {
    margin-bottom: 20px;
  }
  .loader {
    @include loader();
  }
}
