.news-item-page {
  .news-article {
    margin: 0 auto;
    max-width: 1280px;
    .container {
      display: flex;
      padding: 40px 10px;
    }
    .news-article__assets-img {
      overflow: hidden;
      max-width: 400px;
      img {
        display: block;
      }
    }
    .meta {
      padding: 10px 30px;
      width: calc(100% - 400px);
    }
    .news-article__title {
      font-family: $open_sans_bold;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .news-article__published {
      margin-bottom: 20px;
    }
    .news-article__author {
      margin-bottom: 20px;
    }
    .news-article__description {
      margin-bottom: 20px;
    }
    .news-article__read-more {
      text-align: right;
      a {
        background-color: $bg_news_item_link;
        color: $color_news_item_link;
        display: inline-block;
        font-family: $open_sans_semi_bold;
        font-size: 16px;
        padding: 10px 15px;
        @include transition(all 0.3s);
        &:hover {
          background-color: darken($bg_news_item_link, 10%);
        }
      }
    }
  }
}
