.news-menu {
  background: $bg_news_menu;
  padding: 40px;
  height: 100%;
  width: 100%;

  .container {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
  }
  .menu-title {
    font-size: 35px;
    font-family: $open_sans_regular;
    font-weight: normal;
    margin: 0 0 30px;
  }
  .menu {

  }
  .menu-item {
    background-color: $bg_news_item;
    list-style: none;
    margin: 0 0 20px;
    width: 350px;
    @include transition(all 0.3s);
    &.active {
      background-color: $bg_news_item_hover;
    }
    &:hover {
      background-color: $bg_news_item_hover;
    }
    a {
      display: flex;
      align-items: center;
      outline: none;
    }
    .menu-item__icon {
      display: block;
      height: 70px;
      width: 70px;
    }
  }
  .menu-item__title {
    color: $color_news_item;
    font-size: 20px;
    font-family: $open_sans_semi_bold;
    margin-left: 20px;
  }
  .close {
    @extend %reset-button;
    display: none;
    color: $color_close;
    cursor: pointer;
    font-size: 30px;
    line-height: 1;
    outline: none;
    right: 0;
    top: 0;
    position: absolute;
    @include transition(all 0.3s);
    &:hover {
      color: $color_close_hover;
    }
    &:before {
      @extend %add-icofont;
      content: '\e601';
      color: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.news-menu__sticky {
  left: 0;
  top: -100%;
  position: fixed;
  height: 100%;
  width: calc(100% - #{$info_width});

  &.active {
    transform: translate3d(0, 100%, 0);
    .close {
      display: block;
    }
  }
}
