.news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1024px;
  .news-article {
    border-bottom: 1px solid $border_news_item;
    margin: 0 15px 30px;
    padding-bottom: 30px;
    width: calc(50% - 30px);
    .container {
      @include transition(all 0.3s);
      &:hover {
        background-color: $bg_news_item_hover;
      }
      a {
        display: flex;
      }
    }
    .news-article__assets-img {
      overflow: hidden;
      position: relative;
      width: 200px;
      &:after {
        content: '';
        display: block;
        padding-top: 56.27272%;
        height: 0;
        width: 100%;
      }
      img {
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
    .meta {
      padding: 5px 10px 5px 30px;
      width: calc(100% - 250px);
    }
    .news-article__title {
      color: $color_news_item;
    }
  }
}
