.not-found-page {
  overflow: auto;
  .content {
    background-color: #fff;
    margin: 40px auto 0;
    padding: 40px;
    text-align: center;
    width: 400px;
  }
  .title {
    font-family: $open_sans_bold;
    font-weight: normal;
    margin: 0 0 40px;
  }
}
